[
  {
    "last_name": "Zandukeli",
    "first_name": "Beka",
    "email_address": "bekazandu@zandu.com"
  },
  {
    "last_name": "Bekashvili",
    "first_name": "Zandu",
    "email_address": "beka.zandu.007@zandu.com"
  }
]